certifi==2026.6.17
charset-normalizer==3.4.7
idna==3.18
requests==2.34.2
transpyle==0.8.0
-e git+https://github.com/Jhon171819/Typhon.git@94bc9ab187ec8950b73c4a4daa45ad6bbc70ebe5#egg=typhon
urllib3==2.7.0